@font-face {
  font-family: "iconfont"; /* project id 2003514 */
  src: url("//at.alicdn.com/t/font_2003514_9gmu2wnvopk.eot");
  src: url("//at.alicdn.com/t/font_2003514_9gmu2wnvopk.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_2003514_9gmu2wnvopk.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_2003514_9gmu2wnvopk.woff") format("woff"),
    url("//at.alicdn.com/t/font_2003514_9gmu2wnvopk.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_2003514_9gmu2wnvopk.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 博客图标
.icon-blog:before {
  content: "\e602";
}

// 推荐
.icon-recommend:before {
  content: "\e7e5";
}

// java
.icon-java:before {
  content: "\e648";
}

// python
.icon-python:before {
  content: "\e73e";
}

// golang
.icon-golang:before {
  content: "\e600";
}

// typescript
.icon-type-script:before {
  content: "\e608";
}

// util
.icon-util:before {
  content: "\e601";
}

// gossip
.icon-gossip:before {
  content: "\e699";
}

// 开源
.icon-open-source:before {
  content: "\e6b2";
}

// 搜索
.icon-search:before {
  content: "\e671";
}
